# Python files
*.pyc

#Editor files
*.swp
*~

# Caffe files
*.solverstate
*.caffemodel

# Directories of artefacts
sources/experimental/*.tif
sources/labels/*.png
sources/simulated/*.mat
temporary/*.db
